:root {
  --color-subtitulo: #f0f0f0;
  --color-experiencia-texto: #525252;
  --color-background-exp: #f5f5f5;
  --color-ano: #525252;
  --color-background-itens: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-subtitulo: #fff;
    --color-experiencia-texto: #fff;
    --color-background-exp: #525252;
    --color-ano: #fff;
    --color-background-itens: #000;
  }
}

.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: var(--color-subtitulo);
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch;
  color: var(--color-experiencia-texto);
}

.experiencia-texto {
  color: var(--color-experiencia-texto);
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 10px 20px;
  background-color: var(--color-background-exp);
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}
.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 20px;
  left: -4px;
}
.empresa-ano {
  position: absolute;
  top: 20px;
  left: -100px;
  color: var(--color-ano);
  font-size: 0.875rem;
  text-align: right;
  width: 80px;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--color-ano);
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background-color: var(--color-background-itens);
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencia .subtitulo {
    color: #141414;
  }
  .experiencia-texto {
    font-size: 1.5rem;
  }

  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
